---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
    {
        date: "2023 - Actualidad...",
        title: "Software Engineer",
        company: "EyG Grupo",
        description:
            "Encargado de liderar el desarrollo front-end tanto para aplicaciones web como móviles, colaborando con diversos clientes para garantizar la excelencia en la experiencia de usuario.",
    },
    {
        date: "2021 – 2023",
        title: "Software Developer",
        company: "Kushki Peru",
        description:
            "Desarrollo y mantenimiento de microservicios en Golang con un enfoque en pruebas exhaustivas. Integración eficiente de las REST APIs con el front-end para optimizar la comunicación entre sistemas. Responsable del mantenimiento de la aplicación POS para pruebas internas, garantizando su funcionamiento óptimo y confiable.",
    },
    {
        date: "2020 – 2021",
        title: "Front-End Developer",
        company: "Apurata",
        description:
            "Encargado de dirigir el mantenimiento y desarrollo de requisitos para el front-end de la organización. Refactorización de APIs para adaptarse a las necesidades cambiantes del front-end. Coordinación y dirección de las integraciones para tener un mejor trabajo en equipo.",
    },
]
---

<ol class="relative mt-16">
    {
        EXPERIENCIE.map((experiencie) => (
                <li class="">
                    <ExperienceItem {...experiencie}/>
                </li>
        ))
    }
</ol>
