---
import GitHub from "./icons/GitHub.astro";
const personalImageAlt = "Rai Delgado"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/rai.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/alex-rai/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Rai Delgado
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +4 años de experiencia. <strong
      >Ingeniero de Software y Creador de Contenido sobre Programación</strong
    > de Piura, Peru 🇵🇪. Especializado en el desarrollo de aplicaciones web y mobiles.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://www.linkedin.com/in/alex-rai/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/alexRai98">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>
